@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/montserrat-v15-latin-300.woff2") format("woff2"),
         url("../fonts/montserrat-v15-latin-300.woff") format("woff");
  }
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
         url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); 
  }
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
         url("../fonts/montserrat-v15-latin-600.woff") format("woff"); 
  }
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"),
         url("../fonts/montserrat-v15-latin-700.woff") format("woff");
  }

:root {
    --font-family: "Montserrat", "Arial", sans-serif;
}
body{
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 20px;
}
.container{
    max-width: 1161px;
    margin: 0 auto;
}
.site-header{
    background: #F0F5FB;
}
.site-nav{
    display: flex;
    justify-content: space-between;
    
}
.nav-list{
    display: flex;
}
.nav-item{
    list-style-type: none;
    margin-right: 40px;
    margin-top: 40px;
}
.nav-link{
    text-decoration: none;
    color: #000000;
    
}
.site-logo{
    margin-top: 16px;
}
.info-list{
    display: flex;
    position: relative;
}
.info-item{
    list-style-type: none; 
    margin-right: 40px;
    margin-top: 40px;
}
.info-link-tel{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}
.time::before{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("images/Ellipse.png");
    width: 4px;
    height: 4px;
    left: 30px;
    top: 47px;
    transition: ease 0.2s;
}
.info-link-tel{
    display: flex;   
}
.info-link-tel::before{
    content:"";
    position: relative;
    bottom: 5px;
    background-repeat: no-repeat;
    background-image: url("images/tel.png");
    background-size: contain;
    width: 33px;
    height: 33px;
    transition: ease 0.2s;
}
.intro{
    position: relative;
    background-image: url("images/vegitable.png");
    background-color: #F0F5FB;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    padding-bottom: 260px;
    height: 516px;
}
.intro-background{
    background-color: #F0F5FB;
}
.intro-wrapper{
    
    position: relative;
    margin: 0 auto;
}

.intro-heading{
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    padding-top: 105px;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}
.intro-paragraph{
    max-width: 622px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
}
.btn-wrapper{
    position: relative;
}

.btn-text{
    position: absolute;
    right: 10px;
    top: 240px;
    max-width: 200px;
    text-align: right;
}
.intro-span{
    color: #F87848;
    font-weight: 600;
}
.intro-img{
    position: absolute;
    top: 90px;
    left: 250px;
  
}
.plus-btn{
    position: absolute;
    top: 330px;
    right: 400px;
    width: 33px;
    height: 33px;
    background: url("images/plus.svg") no-repeat center center,
              linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    border: none;
    z-index: 99;
}
.plus-btn::after{
    content: "";
    width: 141px;
    height: 40.5px;
    background-image: url("images/vector.svg");
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: -40px;
    right: -130px;
}